body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #eaeaea;
    background-color: #1c1d35;
  }
  
.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
  }
  .container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #ddec02;
    -moz-box-shadow: 0 2px 2px -2px #ddec02;
    box-shadow: 0 2px 2px -2px #ddec02;
  }
  .container td,
.container th {
  padding: 1em;
}
span{
    color: rgb(253, 255, 255);
}
button{
    background-color: #0e1119;
    color: white;
}
button:hover {
    background-color: #fafafa;
    color: #000000;
    font-weight: bold;
}